html,body,#root{
  width: 100%;
  height:100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
 background: linear-gradient(135deg, #d4f1f4, #f9f9f9); /* calm gradient */
  margin: 0;
}